{% extends 'bookstore/base.html' %}

{% block body %}
    <main role="main" container>
       <div class="jumbotron desc`">
            <h1>{{book.title}}</h1>
            <p>Published by <b>{{book.author}} in {{book.written}}</b></p>
            <p>{{book.description}}</p> 
            {% if book.uploaded_by   == user %}
                 <a href="/update/{{book.id}}/book/" class="btn btn-info">Update Book Info</a>
                 <a href="" class="btn btn-danger">Delete Book</a>
            {% endif %}    
        </div>
    </main>
{% endblock body %}
    