{% extends 'bookstore/base.html' %}

{% block body %}

  <h2 class="text-center text-primary">Recent Books</h2>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
     
     {% for book in page_obj %}
        <div class="col-md-4">
            <img src="" alt="" width="50">
        <h2>{{book.title}}</h2>
        <p>{{book.written}}</p>
        <p><a class="btn btn-secondary" href="/{{book.id}}/details/" role="button">View details &raquo;</a></p>
      </div>
     {% endfor %}
         
    </div>

    <hr>

  </div>
  {% include 'bookstore/pagination.html' %}
{% endblock body %}
    