.form{
    width: 50%;
}

.book-desc-min{
    padding: 20px;
}

.book-desc{
    padding: 25px;
}
.review-form{
    padding: 25px;
    /* background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.308);
    width: 95%;
    margin: auto; */
}
.logged-out{
    height: 80vh;
    padding: 20%;
}
.reviews{
    padding: 30px;
    background-color: lightgray;
}
.review{
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 5px darkgray;
    padding: 20px;
}